global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alert.rules.yml

scrape_configs:
  - job_name: "beanstalkd_exporter"
    static_configs:
      - targets: ["beanstalkd_exporter:8080"]
