version: "3.9"

services:
  php:
    image: ivansostarko/php_8_3_apache:latest
    env_file:
      - .env
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

    # Swarm-managed configs
    configs:
      - source: php_config
        target: /usr/local/etc/php/conf.d/zz-custom.ini
        uid: "0"
        gid: "0"
        mode: 0444
      - source: apache_config
        target: /etc/apache2/sites-available/000-default.conf
        uid: "0"
        gid: "0"
        mode: 0444
      - source: php_supervisord_config
        target: /etc/supervisor/supervisord.conf
        uid: "0"
        gid: "0"
        mode: 0444

    volumes:
      - php-app:/var/www/html
      - php-supervisord-log:/var/log/php-app/logs
      - php-apache-log:/var/log/apache2

    ports:
      - target: 80
        published: ${APACHE_HTTP_PORT:-8080}
        protocol: tcp
        mode: host
      - target: 443
        published: ${APACHE_HTTPS_PORT:-8443}
        protocol: tcp
        mode: host
      - target: 9045
        published: ${SUPERVISOR_PORT:-9045}
        protocol: tcp
        mode: host

    environment:
      APACHE_DOCUMENT_ROOT: "${APACHE_DOCUMENT_ROOT:-/var/www/html/public}"

    networks:
      - development

    deploy:
      mode: replicated
      replicas: ${REPLICAS:-1}
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      resources:
        limits:
          cpus: "${LIMIT_CPU:-1.0}"
          memory: "${LIMIT_RAM:-512M}"
      placement:
        constraints:
          - node.role == ${NODE_ROLE:-worker}
          # - node.hostname == ${NODE_HOSTNAME}

    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://127.0.0.1/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 15s

networks:
  development:
    driver: overlay
    attachable: true

volumes:
  php-app:
    driver: local
    driver_opts:
      type: none
      device: ${APP_PATH}
      o: bind
  php-supervisord-log:
    driver: local
    driver_opts:
      type: none
      device: ${SUPERVISOR_LOG_PATH}
      o: bind
  php-apache-log:
    driver: local
    driver_opts:
      type: none
      device: ${APACHE_LOG_PATH}
      o: bind

configs:
  php_config:
    file: ./config/php/php.ini
    name: php_config
  php_supervisord_config:
    file: ./config/supervisord/supervisord.conf
    name: php_supervisord_config
  apache_config:
    file: ./config/apache/000-default.conf
    name: apache_config