# env & secrets
.env
secrets/*.txt
secrets/*.cnf
secrets/*.my.cnf
secrets/*.my_cnf
secrets/*.my.cnf.example
secrets/*.cnf.example

# local overrides
docker-compose.override.yml

# OS/editor
.DS_Store
.idea/
.vscode/
